In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('MiniMax.csv')
data

,Play,Move No.,Selected Algorithm,Time per move,Move played,Board state
0,1,1,Minimax,416.396856,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
1,1,2,Minimax,7.003307,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
2,1,3,Minimax,0.998020,"(2, 1)",[[2 1 2]\n [0 1 0]\n [1 2 0]]
3,1,4,Minimax,0.000000,"(1, 2)",[[2 1 2]\n [1 1 2]\n [1 2 0]]
4,1,5,Minimax,0.000000,NaN,[[2 1 2]\n [1 1 2]\n [1 2 1]]
...,...,...,...,...,...,...
95,20,1,Minimax,412.062645,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
96,20,2,Minimax,6.992817,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
97,20,3,Minimax,0.000000,"(2, 1)",[[2 1 2]\n [0 1 0]\n [1 2 0]]
98,20,4,Minimax,0.000000,"(1, 2)",[[2 1 2]\n [1 1 2]\n [1 2 0]]
99,20,5,Minimax,0.000000,NaN,[[2 1 2]\n [1 1 2]\n [1 2 1]]

In [12]:
first_move = data.loc[data['Move No.'] == 1]

In [13]:
first_move

,Play,Move No.,Selected Algorithm,Time per move,Move played,Board state
0,1,1,Minimax,416.396856,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
5,2,1,Minimax,407.201767,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
10,3,1,Minimax,409.045219,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
15,4,1,Minimax,414.854050,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
20,5,1,Minimax,421.238899,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
25,6,1,Minimax,418.140888,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
30,7,1,Minimax,407.462597,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
35,8,1,Minimax,400.693178,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
40,9,1,Minimax,421.888351,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
45,10,1,Minimax,420.332432,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
50,11,1,Minimax,420.814037,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
55,12,1,Minimax,420.814037,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
60,13,1,Minimax,422.039270,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
65,14,1,Minimax,402.889490,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
70,15,1,Minimax,412.125587,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
75,16,1,Minimax,419.984102,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
80,17,1,Minimax,421.725750,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
85,18,1,Minimax,415.396214,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
90,19,1,Minimax,419.785738,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]
95,20,1,Minimax,412.062645,"(0, 0)",[[2 0 0]\n [0 1 0]\n [0 0 0]]

In [14]:
first_move.describe()

           Play  Move No.  Time per move
count  20.00000      20.0      20.000000
mean   10.50000       1.0     415.244555
std     5.91608       0.0       6.716313
min     1.00000       1.0     400.693178
25%     5.75000       1.0     411.308289
50%    10.50000       1.0     417.268872
75%    15.25000       1.0     420.814037
max    20.00000       1.0     422.039270

In [15]:
second_move = data.loc[data['Move No.'] == 2]

In [16]:
second_move

,Play,Move No.,Selected Algorithm,Time per move,Move played,Board state
1,1,2,Minimax,7.003307,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
6,2,2,Minimax,6.635666,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
11,3,2,Minimax,6.696463,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
16,4,2,Minimax,7.007360,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
21,5,2,Minimax,7.075548,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
26,6,2,Minimax,6.996632,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
31,7,2,Minimax,6.551743,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
36,8,2,Minimax,8.053541,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
41,9,2,Minimax,7.558346,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
46,10,2,Minimax,7.008314,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
51,11,2,Minimax,7.005453,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
56,12,2,Minimax,7.106304,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
61,13,2,Minimax,6.359339,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
66,14,2,Minimax,6.572723,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
71,15,2,Minimax,7.514954,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
76,16,2,Minimax,6.545067,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
81,17,2,Minimax,7.008314,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
86,18,2,Minimax,7.013559,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
91,19,2,Minimax,7.013083,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]
96,20,2,Minimax,6.992817,"(0, 2)",[[2 0 2]\n [0 1 0]\n [1 0 0]]

In [17]:
second_move.describe()

           Play  Move No.  Time per move
count  20.00000      20.0      20.000000
mean   10.50000       2.0       6.985927
std     5.91608       0.0       0.392452
min     1.00000       2.0       6.359339
25%     5.75000       2.0       6.681263
50%    10.50000       2.0       7.006407
75%    15.25000       2.0       7.029057
max    20.00000       2.0       8.053541