In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('MiniMax.csv')
data

    Play  Time per move Move played                    Board state
0      1     398.465395      (0, 0)  [[2 0 0]\n [0 1 0]\n [0 0 0]]
1      1       6.667137      (0, 2)  [[2 0 2]\n [0 1 0]\n [1 0 0]]
2      1       0.000000      (2, 1)  [[2 1 2]\n [0 1 0]\n [1 2 0]]
3      1       0.000000      (1, 2)  [[2 1 2]\n [1 1 2]\n [1 2 0]]
4      1       0.000000         NaN  [[2 1 2]\n [1 1 2]\n [1 2 1]]
..   ...            ...         ...                            ...
95    20     402.712822      (0, 0)  [[2 0 0]\n [0 1 0]\n [0 0 0]]
96    20       7.008076      (0, 2)  [[2 0 2]\n [0 1 0]\n [1 0 0]]
97    20       1.010418      (2, 1)  [[2 1 2]\n [0 1 0]\n [1 2 0]]
98    20       0.000000      (1, 2)  [[2 1 2]\n [1 1 2]\n [1 2 0]]
99    20       0.000000         NaN  [[2 1 2]\n [1 1 2]\n [1 2 1]]

[100 rows x 4 columns]